# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules

# testing
/coverage
/server/coverage

# production
/build
/server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

commit.sh


# python
*.pyc

/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

/server/package-lock.json
/server/yarn.lock

commit.sh

